a{
    color: #000;
  }
  
  .header{
    background-color: #f2dec5;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index:3;
    display:flex;
    justify-content: space-evenly;
  }
  
  .header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #a7bbbc;
  }
  
  .header ul a{
    display: block;
    padding: 20px;
    border-right: 1px solid #aaa;
    text-decoration: none;
  }
  
  .header ul a:hover{
    background-color: #ddd;
  }
  
  .header .logo h1{
    float: center;
    display: block;
    margin-top: 60px;
    font-size: 2em;
    padding: 10px 20px;
  }
  
  .header .menu{
    clear: both;
    max-height: 30px;
    margin-top: 70px;
    transition: max-height .2s ease-out;
  }
  
  /* Hide user profile on initial load, there is JS that will unhide when user logs in*/
  .header .menu .profile {
    display: block;
  }
  .header .menu .profile a {
    display: inline !important;
    border-right:none;
    position: relative;
    bottom: 1px;
  }
  .header .menu .profile img {
    border-radius: 100%;
    width: 50px;
  }
  
  .header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  
  /* .header .menu-icon .nav-icon{
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
  }
  
  .header .menu-icon .nav-icon:before{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
  }
  
  .header .menu-icon .nav-icon:after{
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
  } */
  
  /* .header .menu-btn{
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu{
    max-height: 300px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
  }
  
  .header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
  } */
  
  @media(min-width: 996px) {
    .header li {
      float: left;
    }
    .header li a{
      padding: 20px 30px;
    }
    .header .menu{
      clear: none;
      float: right;
    }
    .header .menu-icon{
      display: none;
    }
  }